html {
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
}

header {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: aliceblue;
}

.profile_image img {
  width: 300px;
  border-radius: 300px;
}

header h1 {
  color: darkcyan;
}

header h4 {
  font-size: 150%;
}

#links img {
  margin: 2% 3%;
  height: 50px;
}

.body {
  margin-top: 3%;
}

.title {
  text-align: center;
  border-radius: 10px;
}

.project {
  clear: both;
  margin-top: 4%;
  background-color: aliceblue;
  border-radius: 10px;
  min-height: 200px;
}

.sample_image img {
  width: 300px;
  margin: 5% 1%;
}

.body a {
  color: #dc3f23;
  font-weight: bold;
}

.body h4 {
  font-weight: bold;
  text-transform: uppercase;
}